# ==========================================
# LUPSI BACKEND - VARIABLES DE ENTORNO
# ==========================================

# 1. Configuración del Servidor NestJS
PORT=3000
NODE_ENV=development

# 2. Base de Datos PostgreSQL (Supabase)
# Ubicación en Supabase: Project Settings -> Database -> Connection string -> Modo: Transaction
DATABASE_URL=postgresql://postgres.qlhmezyxhptvpyiepluw:LupsiProject2026@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true

# 3. Supabase Cloud Configuration (Auth / RLS / Storage)
# Ubicación en Supabase: Project Settings -> API
SUPABASE_URL=https://qlhmezyxhptvpyiepluw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsaG1lenl4aHB0dnB5aWVwbHV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NzA1NjMsImV4cCI6MjA5MDA0NjU2M30.kC9oTuePFghxyEQqAVDWeGMBNjE1TxT6VdxZ7rAcW-k

# 4. JWT Secret (Opcional por ahora)
JWT_SECRET=lupsi-super-secret-key-dev
